//all parts relative
aside, header, main, footer {
    position: relative;
}

.code {
    position: absolute;
    background: #ededed;
    min-width: 150px;
    padding: 10px;
    z-index: 999;
    ol {
        margin: 0;
        padding: 0 15px;
        li {
            color: #333;
            border-bottom: 1px solid #ccc;
            padding-left: 30px;
            margin: 0;
            xmp {
                padding: 0;
                color: #333;
                padding-left: 5px;
                margin: 0;
            }
        }
    }
}

.code-area-1 {
//    display: none;
    top: 15px;
    left: 15px;
    #area-1-0,
    #area-1-10 {
        color: #ccc;
    }
    ol li:first-child,
    li:nth-child(2) {
        padding-left: 0;
    }
    li:nth-child(3),
    li:nth-last-child(3) {
        padding-left: 15px;
    }
    li:last-child,
    li:nth-last-child(2) {
        padding-left: 0;
    }
}

.code-area-2 {
    display: none;
    background: #fff2c9 !important;
    top: 200px;
    left: 500px;
    #area-2-0 {
        color: #ccc;
    }
    ol li:first-child,
    li:nth-child(2) {
        padding-left: 0;
    }
    li:last-child {
        padding-left: 0;
    }
}

.code-area-3 {
    display: none;
    top: 40px;
    right: 40px;
    #area-3-0,
    #area-3-8 {
        color: #ccc;
    }
    ol li:first-child,
    li:nth-child(2) {
        padding-left: 0;
    }
    li:nth-child(3),
    li:nth-last-child(3) {
        padding-left: 15px;
    }
    li:nth-last-child(2),
    li:last-child {
        padding-left: 0;
    }
}

.code-area-4 {
    display: none;
    background: #fff2c9 !important;
    top: 340px;
    right: 60px;
    #area-4-0,
    #area-4-10 {
        color: #ccc;
    }
    ol {
        li:first-child,
        li:nth-child(2) {
            padding-left: 0;
        }
        li:nth-child(3),
        li:nth-last-child(3) {
            padding-left: 15px;
        }
        li:nth-child(5),
        li:nth-child(6),
        li:nth-child(7),
        li:nth-child(8) {
            padding-left: 45px;
        }
        li:nth-last-child(2),
        li:last-child {
            padding-left: 0;
        }
    }
}
