.body-reset {
    margin: 0 !important;
    padding: 0 !important;
    background-image: url(../image/contactBackImg.jpg);
    background-size: cover;
    width: 100%;
    height: 100%;
    section {
        margin: 0;
        padding: 0;
        float: none;
    }
}

//rows
.row_quarter {
    cursor: pointer;
    color: #fff;
    background-color: #adadad;
    background-size: cover;
    background-position: center;
    float: left;
    /*    margin: 20px;*/
    height: 200px;
    width: 23.5%;
    margin-left: 1.25%;
    margin-top: 1.25%;
}

.row_quarter:hover {
    opacity: 0.7;
}

.row_quarter h4,
.projects h4 {
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    margin-top: 20px;
}

.row_quarter img {
    margin-top: 15px;
}

.row_quarter img:hover {
    opacity: 0.4;
}

.project-content i:hover {
    color: #3399cc;
}

.projects {
    padding: 10px 100px !important;
    h1 {
        margin: 45px;
        color: #fff;
        span {
            color: #ccc;
        }
    }
}

.leftSideProjects {
    display: inline-block;
    width: 40%;
    height: 60%;
    margin-top: 6%;
    img {
        width: 100%;
    }
}

.rightSideProject {
    display: inline-block;
    width: 40%;
    height: 60%;
    margin-top: 5%;
    float: right;
}

.firstHalf {
    width: 100%;
    height: 50%;
    border-bottom: 1px solid #3399cc;
}

.secondHalf {
    width: 100%;
    height: 50%;
}

.showMe {
    text-decoration: none;
    padding: 10px 50px;
    margin-top: 50px;
    margin-right: 30px;
    background-color: #3399cc;
    border: none;
    text-transform: uppercase;
    color: #fff;
}

.showMe:hover {
    color: #3399cc;
    background-color: transparent;
    border: 1px solid #3399cc;
}

#myichild {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../image/project_img/my-ichild-site.png);
}

#bulevarProject {
    background-image: url(../image/project_img/bulevarband-min.png);
}

#cSharpProject {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../image/project_img/csharp.jpg);
}

#forummanijaProject {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../image/project_img/forumanija-min.png);
}

#jokerProject {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../image/project_img/joker-mobil1-min.png);
}

#bankersProject {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../image/project_img/k_bankers-min.png);
}

#mobyProject {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../image/project_img/moby-1-min.png);
}

#offProject {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../image/project_img/off-site.png);
}

#socialProject {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../image/project_img/socialnetwork-min.png);
}

#sShotProject {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../image/project_img/sshot-min.png);
}

#trg1project {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../image/project_img/trgomanija_1-min.png);
}

#trg2project {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../image/project_img/trgomanija-r-min.png);
}

#umniProject {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../image/project_img/umnisite-min.jpg);
}

#wheelcode {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../image/project_img/wheelcode.png);
}

#icons-logo {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../image/project_img/logo3.jpg);
}

#ichild {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../image/project_img/My-iChild-logo.png);
}

#grandpa {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../image/project_img/logo5.jpg);
}

#wsite {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../image/project_img/slave6.jpg);
}

#sstyle {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../image/project_img/DESKTOP-min.jpg);
}

#uzoniProject {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../image/project_img/uzoni.png);
}

#kelner {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../image/project_img/kelner.png);
}

.projects p {
    color: #fff;
}

.ongoing-projects-grid {
    height: 120px;
    width: 100%;
    margin: 5px 0;
    padding-bottom: 20px;
    .ongoing-project {
        width: 108px;
        height: 90%;
        float: left;
        margin-right: 50px;
        img {
            width: 100%;
            height: 100%;
        }
        a {
            color: #fff;
            text-decoration: none;
        }
        a:hover {
            text-decoration: underline;
        }
        span {
            text-align: center;
            margin-top: 5px;
            padding: 5px;
        }
    }
}


/*----------TAGS FOR PROJECTS SECTION html,css,js,php,mySql----------*/

.tags {
    color: #fff;
    margin-left: 5px;
    margin-bottom: 5px;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
}

.html {
    background: #f78210;
}

.css {
    background: #1982ce;
}

.js {
    background: #58b7fc;
}

.php {
    background: #768bff;
}

.mySql {
    background: #ba6007;
}

.cSharp {
    background: #8900ff;
}

.java {
    background: #767676;
}
